extends ../../vorlauf/optimism-static/templates/layout
append head
	meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
	link(rel='stylesheet', href='http://optimismbrewing.com/css/style.css')
block content
	:markdown
		# Beer Styles

		BJCP 2008: [HTML](BJCP.html) [JSON](BJCP2008.json)  
		
		Brewer's Association 2011: [HTML](BA.html) [JSON](BA2011.json)  

		The data and code to make this site can also be found in the [GitHub repository](https://github.com/troyh/beerstyles) for this site.

